<!-- header.component.html -->

<nav class="navbar">
  <div class="navbar-container">
    <span
      tabindex="0"
      class="navbar-brand"
      (click)="onCategoryClick('all')"
      (keydown)="onCategoryClick('all')"
      [routerLink]="['/']"
      title="Home"
      >TMDB</span
    >
    <ul class="navbar-menu">
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('all')"
        (keydown)="onCategoryClick('all')"
        [class.selected]="selectedCategory === 'all'"
        [routerLink]="['listing', 'all']"
        title="Movies, TV Shows, and Person"
      >
        All
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('movie')"
        (keydown)="onCategoryClick('movie')"
        [class.selected]="selectedCategory === 'movie'"
        [routerLink]="['listing', 'movie']"
        title="Movies"
      >
        Movies
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('tv')"
        (keydown)="onCategoryClick('tv')"
        [class.selected]="selectedCategory === 'tv'"
        [routerLink]="['listing', 'tv']"
        title="TV Shows"
      >
        TV Shows
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('person')"
        (keydown)="onCategoryClick('person')"
        [class.selected]="selectedCategory === 'person'"
        [routerLink]="['listing', 'person']"
        title="Person"
      >
        Person
      </li>
    </ul>

    <!-- Search bar and button -->
    <div class="search-container">
      <input
        (input)="onSearch($event)"
        type="search"
        class="search-bar"
        placeholder="Search..."
        aria-label="Search..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearchClick()"
        (input)="onClearCheck()"
      />
      <button class="search-button" (click)="onSearchClick()" title="Search">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <!-- If the user is logged in, show the avatar with a dropdown -->
    <div *ngIf="accountDetails()?.isApproved">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img
          [src]="'https://gravatar.com/avatar/' + accountDetails()?.avatar + '?d=identicon'"
          alt="User Avatar"
          class="avatar-img"
        />
      </button>

      <!-- Dropdown Menu -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <span>{{ accountDetails()?.username }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>

    <!-- If the user is not logged in, show a login button -->
    <button
      *ngIf="!accountDetails()?.isApproved"
      mat-icon-button
      color="primary"
      (click)="login()"
      title="Login"
    >
      <mat-icon>login</mat-icon>
    </button>
  </div>
</nav>
