<!-- header.component.html -->

<nav class="navbar">
  <div class="navbar-container">
    <span
      tabindex="0"
      class="navbar-brand"
      (click)="onCategoryClick('all')"
      (keydown)="onCategoryClick('all')"
      [routerLink]="['/']"
      title="Home"
      >TMDB</span
    >
    <ul class="navbar-menu">
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('all')"
        (keydown.enter)="onCategoryClick('all')"
        (keyup.enter)="onCategoryClick('all')"
        [class.selected]="selectedCategory === 'all'"
        [routerLink]="['listing', 'all']"
        title="Movies, TV Shows, and Person"
      >
        All
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('movie')"
        (keydown.enter)="onCategoryClick('movie')"
        (keyup.enter)="onCategoryClick('movie')"
        [class.selected]="selectedCategory === 'movie'"
        [routerLink]="['listing', 'movie']"
        title="Movies"
      >
        Movies
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('tv')"
        (keydown.enter)="onCategoryClick('tv')"
        (keyup.enter)="onCategoryClick('tv')"
        [class.selected]="selectedCategory === 'tv'"
        [routerLink]="['listing', 'tv']"
        title="TV Shows"
      >
        TV Shows
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('person')"
        (keydown.enter)="onCategoryClick('person')"
        (keyup.enter)="onCategoryClick('person')"
        [class.selected]="selectedCategory === 'person'"
        [routerLink]="['listing', 'person']"
        title="Person"
      >
        Person
      </li>
    </ul>

    <!-- Search bar and button -->
    <div class="search-container">
      <input
        (input)="onSearch($event)"
        type="search"
        class="search-bar"
        placeholder="Search..."
        aria-label="Search..."
        [(ngModel)]="searchTerm"
        (keyup.enter)="onSearchClick()"
        (input)="onClearCheck()"
      />
      <button class="search-button" (click)="onSearchClick()" title="Search" aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <!-- Search Results Dropdown -->
    <div class="search-results" *ngIf="searchResults.length > 0">
      <ul>
        <li
          *ngFor="let item of searchResults"
          (click)="onSearchResultClick(item)"
          tabindex="0"
          (keydown.enter)="onSearchResultClick(item)"
          (keyup.enter)="onSearchResultClick(item)"
        >
          <mat-icon class="search-icon" *ngIf="item.media_type === 'movie'">movie</mat-icon>
          <mat-icon class="search-icon" *ngIf="item.media_type === 'tv'">tv</mat-icon>
          <mat-icon class="search-icon" *ngIf="item.media_type === 'person'">person</mat-icon>

          <img
            [src]="
              'https://image.tmdb.org/t/p/w1280' +
              (item.media_type === 'movie' || item.media_type === 'tv'
                ? item.poster_path
                : item.profile_path)
            "
            alt="{{ item.title || item.name }}"
            (error)="setImagePlaceholder($event)"
          />
          <span>{{ item.title || item.name }}</span>
        </li>
      </ul>
    </div>

    <!-- If the user is logged in, show the avatar with a dropdown -->
    <div *ngIf="accountDetails()?.isApproved">
      <button mat-icon-button [matMenuTriggerFor]="menu" title="User Menu" aria-label="User Menu">
        <img
          [src]="'https://gravatar.com/avatar/' + accountDetails()?.avatar + '?d=identicon'"
          alt="User Avatar"
          class="avatar-img"
        />
      </button>

      <!-- Dropdown Menu -->
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          disabled
          title="Username: {{ accountDetails()?.username }}"
          aria-label="User name"
        >
          <span>{{ accountDetails()?.username }}</span>
        </button>
        <button mat-menu-item (click)="logout()" title="Log Out" aria-label="Log Out">
          <mat-icon>logout</mat-icon>
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>

    <!-- If the user is not logged in, show a login button -->
    <button
      *ngIf="!accountDetails()?.isApproved"
      mat-icon-button
      color="primary"
      (click)="login()"
      title="Login"
      aria-label="Login"
    >
      <mat-icon>login</mat-icon>
    </button>
  </div>
</nav>
