<nav class="navbar">
  <div class="navbar-container">
    <a
      href="/"
      class="navbar-brand"
      (click)="onCategoryClick('movie')"
      (keydown)="onCategoryClick('movie')"
      >TMDB</a
    >
    <ul class="navbar-menu">
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('movie')"
        (keydown)="onCategoryClick('movie')"
        [class.selected]="selectedCategory === 'movie'"
      >
        Movies
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('tv')"
        (keydown)="onCategoryClick('tv')"
        [class.selected]="selectedCategory === 'tv'"
      >
        TV Shows
      </li>
      <li
        role="menuitem"
        tabindex="0"
        (click)="onCategoryClick('person')"
        (keydown)="onCategoryClick('person')"
        [class.selected]="selectedCategory === 'person'"
      >
        People
      </li>
    </ul>
    <input
      (input)="onSearch($event)"
      type="search"
      class="search-bar"
      placeholder="Search movies..."
      aria-label="Search movies..."
    />
    <button class="search-button" (click)="onSearchClick()">Search</button>
  </div>
</nav>
