$primary-bg: #141414;
$card-bg: #222;
$text-color: #fff;
$hover-scale: 1.05;
$transition-speed: 0.3s;

.media-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px;
  padding: 20px;
  background-color: $primary-bg;
  overflow-y: auto;
  height: calc(100vh - 86px);
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) $primary-bg;
  margin-top: 46px;
}

.media-card {
  position: relative;
  background-color: $card-bg;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform $transition-speed ease-in-out;
  height: 280px;

  &:hover {
    transform: scale($hover-scale);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }

  h3 {
    color: $text-color;
    font-size: 14px;
    text-align: center;
    margin: 8px 0;
  }
}

.loading {
  background-color: $primary-bg;
  // height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

/* Scrollbar Styling */
.media-container::-webkit-scrollbar {
  width: 8px;
}

.media-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.media-container::-webkit-scrollbar-track {
  background-color: $primary-bg;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .media-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 30px;
    padding: 10px;
  }

  .media-card {
    height: 300px;
  }

  .media-card img {
    border-radius: 6px;
  }

  .media-card h3 {
    font-size: 14px;
    margin: 6px 0;
  }
}

/* Small Mobile Screens */
@media (max-width: 480px) {
  .media-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 5px;
    height: calc(100vh - 0px);
  }

  .media-card {
    height: 300px;
  }

  .media-card h3 {
    font-size: 12px;
    margin: 4px 0;
  }
}

.no-results {

  gap: 30px;
  padding: 20px;
  background-color: $primary-bg;
  overflow-y: auto;
  height: calc(100vh - 86px);
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) $primary-bg;
  margin-top: 46px;
  color: $text-color;

}

.hidden {

  display: block;

}

.loading-container {
  display: flex;
  background-color: $primary-bg;
  color: $text-color;
  justify-content: center;
  align-items: center;
}