<div class="media-container" #scrollContainer>
  <div
    *ngFor="let item of mediaList"
    class="media-card"
    tabindex="0"
    [routerLink]="['/', item.media_type, item.id]"
  >
    <div class="media-card">
      <div class="media-card-inner">
        <div class="media-card-front">
          <!-- *ngIf="item.poster_path || item.profile_path" -->
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + (item.poster_path || item.profile_path)"
            [alt]="item.title || item.name"
            (error)="setPlaceholder($event)"
          />
          <h3>{{ item.title || item.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  class="loading"
  style="display: flex; justify-content: center; align-items: center"
>
  <mat-spinner diameter="50"></mat-spinner>
</div>
