<div class="person-container">
  <div *ngIf="isLoading" class="loading">Loading...</div>
  <div *ngIf="isError" class="error">Failed to load person details.</div>

  <div *ngIf="person">
    <div
      class="background"
      [style.background-image]="'url(https://image.tmdb.org/t/p/w1280' + person.profile_path + ')'"
    ></div>

    <div class="person-details">
      <div class="person-content">
        <div class="profile">
          <img
            [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
            [alt]="person.name"
            width="220"
            height="330"
          />
        </div>

        <div class="details">
          <h1>{{ person.name }}</h1>
          <p><strong>Known For:</strong> {{ person.known_for_department }}</p>
          <p><strong>Birthday:</strong> {{ person.birthday }}</p>
          <p *ngIf="person.deathday"><strong>Died:</strong> {{ person.deathday }}</p>
          <p class="biography"><strong>Biography:</strong> {{ person.biography }}</p>
          <p><strong>Popularity:</strong> {{ person.popularity }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
